<div style="padding-top: 20px;">

    <div class="row justify-content-center bg-dark text-light" style="margin-left:0px;margin-right:0px; padding-top: 20px;">
        <div class="col-2 border">
            <a class="fa fa-facebook"></a>
            <a class="fa fa-twitter"></a>
            <a class="fa fa-linkedin"></a>
            <a class="fa fa-youtube"></a>
            <a class="fa fa-instagram"></a>
        </div>

    </div>

    <div class="bg-dark text-light">
        <div class="row content-center">

            <div class="col-8 offset-1">
                <h4><strong>&copy; Copyright 2020. All rights are reserved.</strong></h4>
            </div>

            <div class="col-2">
                
                <h4 style="text-align: right;"> {{todaysDate| date:'medium'}}</h4>
            </div>
        </div>
        <br>
    </div>
</div>